@import url('https://fonts.googleapis.com/css2?family=Recursive:wght,CASL,CRSV@300..800,0..1,0&display=swap');

:root {
    --white: #ece9d4;
    --light-gray: #E2D2B5;
    --orange: #c78147;
    --yellow: #d5c96c;
    --cyan: #5596a6;
    --blue: #32557e;
    --black: #1f2042;
}

a { color: var(--blue); }
a:active, a:hover { color: var(--orange); }
img { width: 100%; height: auto; }
p, figure { margin: 0; padding: 1rem 0; }
p:first-child, #faq>details:first-child { padding-top: 0;}
p:last-child, #faq>detail:last-child { padding-bottom: 0;}
ul { margin: 0; padding: 1rem 0 1rem 1rem; }
h2 {
    margin: 0; padding: 1rem 0; font-size: 2.5em; text-align: center;
    font-variation-settings: "CASL" 0.5, "wght" 800;
    img { max-height: 10rem; width: auto; max-width: 100%; height: auto; }
}

body {
    padding: 0; margin: 0;
    font-family: 'Recursive', Arial, sans-serif;
    font-variation-settings: "CASL" 0.25, "wght" 500;
    background-color: var(--light-gray); color: var(--black);
}

header {
    background-image: url("water.png"), linear-gradient(to top, var(--cyan), var(--blue));
    background-size: 16rem auto; background-blend-mode: overlay; text-align: center;
    display: flex; align-items: center; flex-direction: column; gap: 1rem;
    h1 {
        margin: 0 auto; padding: 2rem 1rem 0;
        img { max-width: 25rem; }
    }
    p {
        padding: 1rem; max-width: 20rem; margin: 0 1rem;
        background-color: var(--white); border-radius: 2rem;
        position: relative;
        &::before {
            content: ""; display: block; position: absolute;
            width: 0; height: 0; top: -1.5rem; left: calc(50% - 1rem);
            border-left: 1rem solid transparent;
            border-right: 1rem solid transparent;
            border-bottom: 1.5rem solid var(--white);
        }
    }
    a {
        background-color: var(--yellow); padding: 1rem 2rem; margin: 0 1rem; display: block;
        border-radius: 2rem; max-width: 10rem; border: 2px solid var(--yellow);
        &:hover, &:active { background-color: var(--blue); color: var(--white); border-color: var(--cyan);}
    }
    &::after {
        content: ""; width: 100%; height: 6rem;
        display: block;
        background-image: url("shore.png");
        background-size: auto 100%; background-repeat: repeat-x;
    }
}

main {
    background-image: url("sand.webp"), linear-gradient(to top, var(--light-gray), var(--white));
    background-blend-mode: overlay;
    padding: 1rem 2rem; 
    h2>img { max-height: 7rem;}
    #scatters {
        position: relative; height: 3rem; top: -1rem; max-width: 20rem; margin: auto; 
        img { position: absolute; width: 3.5rem; height: auto; }
        img:first-child { rotate: -15deg; }
        img:nth-child(2) { display: none; width: 2.5rem; left: 3rem; top: 2rem; rotate: 5deg; }
        img:nth-child(3) { width: 2.5rem; right: 3rem; top: 3rem; rotate: 60deg; }
        img:nth-child(4) { display: none; width: 3rem; left: calc(50% - 1.25rem);  }
        img:last-child { right: 0; }
    }
    #ideas>h2>img { max-height: 10rem;}
    #faq {
        details {
            background-color: var(--cyan);
            border-radius: 1rem; margin: 1rem 0;
            summary {
                background-color: var(--blue); color: var(--white);
                padding: 1rem 2rem; border-radius: 1rem;
            }
            p { padding: 1rem; }
            ul { padding: 1rem 1rem 1rem 2rem;}
        }
    }
}

footer {
    background-color: var(--cyan);
    padding: 1rem 2rem;
}

/* Mobile large */
@media screen and (min-width: 18rem) {
    main>#scatters {
        img:nth-child(2), img:nth-child(4) { display: block; }
    }
}
/* Tablet view */
@media screen and (min-width: 40rem) {
    header {
        padding-top: 2rem;
        h1>img { max-width: 30rem;}
        p { max-width: 25rem; margin-bottom: 1rem;}
        &::after { height: 8rem; }
    }
    main {
        h2>img { max-height: 10rem;}
        #scatters {
            max-width: 30rem; height: 4rem;
            img { width: 4rem; }
            img:nth-child(2) { width: 3rem; left: 4rem; }
            img:nth-child(3) { width: 3rem; right: 5rem; }
            img:nth-child(4) { width: 4rem; top: -0.5rem;}
            
        }
        #ideas>h2>img { max-height: 12rem;}
        #faq {
            details { width: 35rem; margin-left: auto; margin-right: auto; }
        }
    }
}
/* Desktop view */
@media screen and (min-width: 67rem) {
}
